* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;

}

body {
    background: linear-gradient(#fdc6c6, #a897f8);
    font-family: "Lexend", sans-serif;
}

header {
    background-image: url(../img/background-header.svg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px 92px;
    padding-bottom: 244px;


    & nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 114px;

        & ul {
            display: flex;
            gap: 30px;
            align-items: center;

            & li {
                display: inline-block;
                color: #cecdcd;
            }

            & li:first-child {
                color: #fff;
            }
        }

        & button {
            border-radius: 8px;
            background-color: #2E36F4;
            padding: 8px 17.5px;
            border: none;
            font-weight: 700px;
            font-size: 18px;

        }

    }

    & .text {
        display: flex;
        flex-direction: column;
        width: Hug (473px)px;
        height: Hug (120px)px;
        gap: 16px;
        opacity: 0px;


        & h1 {
            font-size: 48px;
        }

        & p {
            font-size: 24px;
        }

        & button {
            border-radius: 8px;
            background-color: #2E36F4;
            padding: 8px 17.5px;
            border: none;
            font-weight: 700px;
            height: 59px;
            width: 162px;
            font-size: 18px;
            color: #fff;
        }
    }
}

main {
    .whyussection {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: Hug (1, 280px)px;
        height: Hug (487px)px;
        top: 720px;
        padding: 70px 182px 70px 182px;
        gap: 60px;
        opacity: 0px;

        & div {
            & h1 {
                font-size: 36px;
                font-weight: 600;
                line-height: 50.4px;
                text-align: center;
            }

            & p {
                font-size: 18px;
                font-weight: 400;
                line-height: 27px;
                text-align: center;
            }
        }


        & .cards {
            display: flex;
            width: 916px;
            height: 167px;
            gap: 83px;

            & div {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            & img {
                display: flex;
                flex-direction: column;
                width: 94px;
                height: 94px;
            }

            & p {
                font-size: 20px;
                font-weight: 500;
                line-height: 26px;
                text-align: center;

            }

        }

    }


}

.genressection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: Hug (1, 280px)px;
    height: Hug (323px)px;
    top: 1207px;
    padding: 40px 92px 40px 92px;
    gap: 24px;
    opacity: 0px;

    & h1 {
        font-size: 36px;
        font-weight: 600;
        line-height: 50.4px;
        text-align: left;
    }

    & p {
        font-size: 18px;
        font-weight: 600;
        line-height: 27px;
        text-align: right;
    }

    img {
        display: flex;
        width: Hug (1, 094px)px;
        height: Hug (169px)px;
        gap: 16px;
    }

}